/*******8 google-font *********/
  @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}


/* header-section */
.header-top {
    background-color: rgba(27, 29, 44, 1);
    margin-top: 1px;
    padding: 2px 0;
    display: flex;
    align-items: center;

}
.header-top .left-col{
    display: flex;
    align-items: center;
}
.header-top .left-col h3{
    font-size: 15px;
    line-height: 1.7em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 4px;
}
.header-top .right-col{
    text-align: right;
}
.header-top .right-col p{
    font-size: 13px;
    color: #b6b6b6;
    font-weight: 600;
    display: inline;
    margin-right: 5px;
}
.header-top .right-col span a{
    color: #363636;
    font-size: 10px;
    line-height: 18px;
    background: #55ACEE;
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 13px;
    margin-right: 5px;
    text-align: center;
}
.header-top .right-col .btn {
    color: #fff;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    padding:0px 27px;
    background: #00AEEF;
    margin-left: 6px;
    border-radius: 3px;
}

/* main-header */
.main-header{
    padding: 0 30px;
}
.main-header .main-row{
    height: 100px;
    display: flex;
    align-items: center;
}
.main-header .logo-col{
    width: 20%;
}
.main-header .logo{
    max-width: 90px;
}
.main-header .logo img{
    width: 100%;
    margin-left: 5px;
}
.main-header .menu-col{
    width: 80%;
    display: flex;
    justify-content: end;
}
.main-header .nav ul{
    list-style: none;
    margin-bottom: 0;
}
.main-header .nav ul li{
    display: inline-block;
}
.main-header .nav ul li a{
    color: #727272;
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px;
}
.main-header .nav ul li a:hover{
    background-color: #00aeef;
    color: #fff;
    border-radius: 3px;
}

/* banner-section */
.banner-section{
    padding: 50px 0;
}
.banner-section .banner-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.banner-section .left-col{
    width: 50%;
    padding-left: 16px;
}
.banner-section .left-col h1{
    color: #14183E;
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.banner-section .left-col p{
    color: #5E6282;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    max-width: 520px;
}

.banner-section .left-col .course_button a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    background-image: linear-gradient(300deg, #0080FF 0%, #43BFFF 100%);
    padding: 8px 25px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}
.banner-section .right-col{
    background-image: url("/asset/img/banner.jpg");
    background-size: cover;
    background-position-x: -50px;
    width: 47%;
    padding: 186px 0;
}

/* Partners-section */
.partners-section{
    padding: 45px 0;
}
.partners-section h2, .partners-section h2 a{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.partners-section .partners-slider img{
    width: 100%;
}

/* Diploma-section  */
.diploma-section{
    padding: 25px 0;
}
.diploma-section .container{
    max-width: 1180px;
}
.diploma-section .diploma-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 38px 50px;
    background: #B3CFFF;
    border-radius: 25px;
}
.diploma-section .left-col{
    margin-top: 40px;
}
.diploma-section .left-col, .diploma-section .right-col{
    width: 50%;
}
.diploma-section .left-col a{
    color: #4E4E4E;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 15px;
    display: inline-block;
}
.diploma-section .left-col h2 a{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: 40px;
}
.diploma-section .left-col .see-more a{
    font-weight: 500;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 6px 22px;
    border-radius: 3px;
}
.diploma-section .right-col{
    display: flex;
    justify-content: right;
}
.diploma-section .right-col .diploma-img{
    max-width: 310px;
}
.diploma-section .right-col img{
    width: 100%;
}
 /* Popular Courses  */
 .courses-section{
    padding: 20px 0;
 }
 .courses-section .container{
    max-width: 1180px;
 }
 .courses-section .course-title{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 27px;
 }
 .courses-section .courses-main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
 }
 .courses-section .courses-main .course-box{
    width: 265px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 10px 5px;
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 0px 13px -9px #000000;
 }
 .courses-section .courses-main .course-box .img-col{
    width: 76px;
 }
 .courses-section .courses-main .course-box .img-col img{
    width: 100%;
 }
 .courses-section .courses-main .course-box .text-col{
    width: 174px;
 }
 .courses-section .courses-main .course-box .text-col h3{
    color: #00A0CF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
 }
 .courses-section .courses-main .course-box .text-col p{
    color: #5E6282;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
 }

 /* Mobile-App-section */
 .app-section{
    background-color: transparent;
    background-image: linear-gradient(300deg, #67AEF475 0%, #FFFFFF 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 22px 22px 22px 22px;
 }
 .app-section .app-main{
    display: flex;
    flex-wrap: wrap;
 }
 .app-section .app-main img{
    width: 100%;
 }
 .app-section .left-col{
    margin-top: 50px;
 }
 .app-section .left-col{
    width: 36.49%;
 }
 
 .app-section .middle-col{
    width: 31.394%;
 }
 
 .app-section .right-col{
    width: 31.753%;
 }

 .app-section .left-col h2 {
    color: #454545;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    line-height: 1.4em;
    max-width: 280px;
 }
 .app-section .left-col .app-feature{
    padding-left: 15px;
    margin-top: 20px;
 }
 .app-section .left-col .app-feature ul{
    list-style: none;
    margin-bottom: 20px;
 }
 .app-section .left-col .app-feature ul li{
    font-size: 16px;
    font-weight: 400;
    color: #54595f;
    position: relative;
    margin-bottom: 3px;
 }
 .app-section .left-col .app-feature ul li::before{
    content: "\f00c";
    color: #168CBF;
    font-weight: bold;
    font-family: Fontawesome;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
 }
 .app-section .left-col .app-store{
    padding-left: 45px;
 }
 .app-section .left-col .app-store img{
    max-width: 140px;
 }

 /* facility-section */
 .facility-section{
    padding: 50px 0;
 }
 .facility-section .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .facility-section .facility-col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
 }
 .facility-section .facility-col .img{
    max-width: 82px;
 }
 .facility-section .facility-col .img img{
    width: 100%;
 }
 .facility-section .facility-col .text h2{
    color: #00AEEF;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: 0px;
    margin-bottom: 8px;
 }
 .facility-section .facility-col .text p{
    color: #5E6282;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0;
 }

 /* video-section */
 .video-section{
    background-image: url("/asset/img/videobg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 52px 20px;
 }
 .video-section .main{
    display: flex;
    flex-wrap: wrap;
 }

.video-section .left-col{
    width: 42.895%;
}
.video-section .left-col .video-icon{
    text-align: center;
}
.video-section .left-col h2{
    color: #2D86AB;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 475px;
}
.video-section .left-col .btn{
    display: block;
    text-align: center;
}
.video-section .left-col .btn .see-more{
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    background-image: linear-gradient(300deg, #0080FF 0%, #43BFFF 100%);
    color: #fff;
    padding: 8px 24px;
    border-radius: 3px;
    display: inline-block;
}
.video-section .right-col{
    width: 57.105%;
    text-align: right;
    padding-right: 10px;
}
.video-section .right-col iframe{
    border-radius: 20px;
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

/* Blog-section */
.blog-section{
    background-image: linear-gradient(300deg, #67AEF475 0%, #FFFFFF 100%);
    padding: 30px 0;
    border-radius: 22px;
    margin-top: -20px;
}
.blog-section .blog-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-section .single-blog{
    max-width: 355px;
    background-color: #FFFFFFBA;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
    border-radius: 17px;
    padding: 12px;
}
.blog-section .single-blog img{
   max-width: 165px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 15px;
   margin-bottom: 15px;
}
.blog-section .single-blog h2{
    color: #090909;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 10px;
}
.blog-section .single-blog p{
    color: #090909;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4em;
}
.blog-section .single-blog p a{
    font-weight: bold;
}
.blog-section .btn{
    margin-top: 30px;
    text-align: center;
    display: block;
}
.blog-section .btn a{
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    background-image: linear-gradient(300deg, #9CCEFF 0%, #43BFFF 100%);
    border-radius: 3px;
    color: #fff;
    padding: 8px 35px;
}


/* consultation-section */
.consultation-section{
 padding: 50px 0;
}
.consultation-section .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.consultation-section .consultation-col{
    display: flex;
    flex-wrap: wrap;
    max-width: 512px;
    border: 2px solid #797979;
    border-radius: 25px;
}
.consultation-section .content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 0;
}
.consultation-section .content h2{
    color: #4A4A4A;
    font-family: "Poppins", Sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 65px;
}
.consultation-section .content .img, .consultation-section .content .text{
    width: 50%;
}
.consultation-section .content .img img{
    width: 100%;
}
.consultation-section .bottom-col{
    border-top: 1px solid #797979;
    width: 100%;
}
.consultation-section .bottom-col .online-join{
    padding: 32px 10px 35px 10px;
}
.consultation-section .bottom-col .online-join .request{
    padding: 9px 22px;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    fill: #5F5757;
    color: #5F5757;
    background-color: transparent;
    background-image: linear-gradient(300deg, #0080FF00 0%, #43BFFF00 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #8B8B8B;
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.24);
   margin-left: 20px;
}
.consultation-section .bottom-col .online-join .join{
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
    background-color: transparent;
    background-image: linear-gradient(250deg, #43BFFF 0%, #0080FF 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 214.69483695652167, 249, 0.5);
    padding: 9px 25px;
    color: #fff;
    margin-left: -5px;
}

/* client-section */
.client-section{
    padding: 20px 0;
    background-image: linear-gradient(180deg, #91DFF7A1 0%, #B0E9E700 100%);
}
.client-section h2{
    margin-bottom: 45px;
}
.client-section h2 a{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: relative;
}
.client-section h2 a::after {
    content: "";
    position: absolute;
    background-image: url("/asset/img/underline.webp");
    width: 1024px;
    height: 36px;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}
/* quality-education-section */
.quality-education-section{
    padding: 90px 0;
    background: #FDFDFD;
}
.quality-education-section .main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.quality-education-section .education-col{
    max-width: 535px;
    background: #fff;
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 0px 64px 40px 40px;
}
.quality-education-section .education-col h2{
    color: #020101;
    font-weight: 600;
    line-height: 1.6em;
    font-size: 15px;
    line-height: 1.7em;
    margin-top: 14px;
    margin-bottom: 20px;
}
.quality-education-section .education-col p{
    color: #686868;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    line-height: 1.6em;
}
.quality-education-section .education-col .name p{
    font-weight: 300;
    color: #000;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0;
}
.quality-education-section .education-col h3{
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.quality-education-section .masrursir-col img{
    border-radius: 16px 16px 16px 16px;
    box-shadow: 8px 16px 32px -8px rgba(0, 0, 0, 0.16);
    margin-top: -45px;
}
.quality-education-section .masrursir-col{
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
}

/* footer-section */
.footer-section{
    background: #212121;
    padding: 60px 0px;
}
.footer-section .footer-main{
    display: flex;
    flex-wrap: wrap;
}
.footer-section .footer-main h4{
    color: #fff;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.508em;
}
.footer-section .footer-main hr{
    color:#fff;
    border-width: 2px;
}
.footer-section .footer-main p{
    font-size: 15px;
    line-height: 1.7em;
    color: #a2a2a2;
}
.footer-section .footer-main span{
    color: #a2a2a2;
}
.footer-section .footer-main a{
    color: #03AEE8;
}
.footer-section .footer-main .col{
    padding: 0 50px 0 50px;
}
.footer-section .footer-main .left,.footer-section .footer-main .middle {
    box-sizing: border-box;
    border-right: 1px solid #3b3b3b;
}
.footer-section .footer-main .left .main-title{
    margin-bottom:54px;
}
.footer-section .footer-main .left p{
    margin-bottom: 0;
}
.footer-section .footer-main .left .headquaters{
    margin-top:20px;
}
.footer-section .footer-main .left .headquaters hr{
    margin-bottom: 10px;
}
.footer-section .footer-main .left .social-link a{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(255,255,255,0.01);
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    margin-left: -5px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s;
}
.footer-section .footer-main .left .social-link a:first-child{
    margin-left: 0;
}
.footer-section .footer-main .left .social-link a:hover{
    background: #26ABE2 ;
    border-color: #26ABE2;
}
.footer-section .footer-main .left .social-link i{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.footer-section .footer-main .middle .link a{
    display:block;
}
.footer-section .footer-main .middle .mobile-app{
    margin-top: 20px;
}
.footer-section .footer-main .middle .mobile-app img{
    max-width: 140px;
}
.footer-section .footer-main .right img{
    max-width: 295px;
    margin-bottom: 25px;
}
.footer-section .footer-main .right hr{
    margin: 10px 0 10px 0;
}

/* soket-estion */
.socket-section{
    background: #303030;
    padding: 25px;
}
.socket-section p{
    font-size: 16px;
    font-weight: 400;
    color: #a2a2a2;
    text-align: center;
    margin-bottom: 0;
}


.contact-us-section{
    padding: 80px 0;
}
.contact-us-section .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
}
.contact-us-section .row .form-column{
    width: 45%;
}
.contact-us-section .row .form-column h2{
    color: #222;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 25px;
   font-family: 'Raleway', sans-serif;
}
.contact-us-section .row .form-column label{
    display: block;
    color: #797979;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 4px;
}
.contact-us-section .row .form-column label span{
    color: #ff0000;
}
.contact-us-section .row .form-column .number-captcha{
    margin-top: 20px;
}
.contact-us-section .row .form-column input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;    
    padding: 10px 15px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.contact-us-section .row .form-column input:focus{
     border: 1px solid #00aeef;   
}
.contact-us-section .row .form-column input:active{
     border: 1px solid #00aeef;   
}
.contact-us-section .row .form-column textarea{
    width: 100%;
    resize: none;
    height: 120px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.contact-us-section .row .form-column .submit-button{
    color: #fff;
    border: none;
    height: 55px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    max-width: 200px;
    margin-top: 5px;
    cursor: pointer;
    background: #00aeef;
    text-transform: uppercase;
}
.contact-us-section .row .map-column{
    width: 51%;
}
.contact-us-section .row .map-column .info-row{
    display: flex;
    flex-wrap: wrap;
}
.contact-us-section .row .map-column .info-row .location-column{
    width: 50%;
}
.contact-us-section .row .map-column .info-row .info-column{
    width: 50%;
}
.contact-us-section .row .map-column .info-row .location-column .fa-location-dot{
    color: #fff;
    border-radius: 50%;
    padding: 10px 12px;
    background: #00aeef;
}
.contact-us-section .row .map-column .info-row .info-column .fa-phone{
    color: #fff;
    border-radius: 50%;
    padding: 10px 10px;
    background: #00aeef;
}
/*======================= About US Page =======================*/
.about-content-section{
    margin-top: 50px;
    padding: 60px 0 40px 0;
    background: #FAF9FF;
    border-radius: 40px 40px 0 0;
}
.about-content-section h1{
    color: #4E4E4E;
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
    margin-bottom: 15px;
}


.our-process-count-section{
    padding: 0 0 60px 0;
    background: #FAF9FF;
    border-radius: 0px 0px 40px 40px;
}
.our-process-count-section .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.our-process-count-section .row .count-column{
    width: 23.5%;
    display: flex;
    column-gap: 13px;
    border-radius: 14px;
    background: #DCD0FF;
    padding: 20px 25px 20px 25px;
}
.our-process-count-section .row .red-column{
    background: #FFDFCF;
}
.our-process-count-section .row .count-column svg{
    color: #371872;
    font-size: 30px;
    margin-top: 5px;
}
.our-process-count-section .row .count-column h3{
    color: #371872;
    font-size: 29px;
    margin: 0;
    line-height: 35px;
    font-weight: 600;
}
.our-process-count-section .row .count-column p{
    margin: 0;
    color: #371872;
    font-size: 12px;
    margin-top: -2px;
    line-height: 18px;
}
.our-process-count-section .row .red-column svg{
    color: #952F19;   
}
.our-process-count-section .row .red-column h3{
    color: #952F19;       
}
.our-process-count-section .row .red-column p{
    color: #952F19;       
}


.our-vision-heading-section{
    padding: 50px 0;
}
.our-vision-heading-section h3{
    color: #018EC9;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}
.our-vision-heading-section h2{
    color: #424242;
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
    font-style: italic;
}


.our-vision-content-section{
    padding: 40px 0;
    background: #FAF9FF;
}
.our-vision-content-section .row{
    display: flex;
    column-gap: 3%;
    flex-wrap: wrap;
}
.our-vision-content-section .row img{
    max-width: 50%;
    margin-bottom: -15px;
}
.our-vision-content-section .row h3{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.our-vision-content-section .row p{
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.our-vision-content-section .row .vision-column{
    width: 31.33%;
    border-radius: 30px;
}
.our-vision-content-section .row .vision-column .content{
    padding: 20px 20px 25px 20px;
}
.our-vision-content-section .blue-column{
    background: #8585FF;
}
.our-vision-content-section .yellow-column{
    background: #F8D74C;
}
.our-vision-content-section .yellow-column h3{
    color: #222;
}
.our-vision-content-section .yellow-column p{
    color: #222;
}
.our-vision-content-section .red-column{
    background: #FC697A;
}


.registered-section{
    padding: 40px 0;
    background: #FAF9FF;   
}
.registered-section .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.registered-section .row img{
    max-width: 64%;
}
.registered-section .row .registered-column{
    width: 23.5%;
    border-bottom: 1px solid #222;
}
.registered-section .row .registered-column h3{
    color: #414141;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 35px;
}


.get-touch-section{
    padding: 50px 0;
}
.get-touch-section .heading-content h2{
    color: #525456;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}
.get-touch-section .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
.get-touch-section .row .touch-column{
    width: 32%;
}
.get-touch-section .row .touch-column h3{
    color: #66696A;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
}
.get-touch-section .row .touch-column a{
    color: #7a7a7a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    transition: 0.4s;
}
.get-touch-section .row .touch-column a:hover{
    color: #4CC6F9;
}
.get-touch-section .row .touch-column svg{
    color: #fff;
    padding: 20px;
    font-size: 28px;
    border-radius: 50%;
    background: #4CC6F9;
}


.about-contact-section{
    padding: 30px 0 60px 0;
}
.about-contact-section .row{
    max-width: 45%;
    margin: 0 auto;
}
.about-contact-section .row .form-column{
    width: 100%;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
}
.about-contact-section .row .form-column .submit-button{
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

/*=================== Chairman Message Page Style ====================*/
.page-cover-section{
/*    height: 350px;*/
    background: url("../img/cover/wa-home-slide.jpg");
    background-position: revert;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}
.page-cover-section .row{
    height: 350px;
    display: flex;
    align-items: center;
}
.page-cover-section .row h1{
    color: #fff;
    font-size: 50px;
    line-height: 56px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
/*=================== Gallery Page Style ====================*/
.gallery-section {
    padding: 60px 0 90px 0;
}
.gallery-section .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 5%;
}
.gallery-section .row .gallery-column{
    width: 47.5%;
}
.gallery-section .row .gallery-column img{
    height: 340px;
    object-fit: cover;
    border-radius: 25px;
}
.gallery-section .row .gallery-column a h2{
    color: #FDFEFF;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding: 0 20px;
    margin-top: -120px;
}
.gallery-section .row .gallery-column a h3{
    color: #FDFEFF;
    font-size: 19px;
    line-height: 25px;
    font-weight: 200;
    padding: 0 20px;
    letter-spacing: 2.1px;
}
/*================== Gallery View Page Styel ==========================*/
.gallery-veiw-section{
    padding: 40px 0;
}
.gallery-veiw-section .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 0.9%;
}
.gallery-veiw-section .row .gallery-view-column{
    width: 32.73%;
    padding: 4px;
    min-height: 240px;
    border: 1px solid #A9A9A9;
}
.gallery-veiw-section .row .gallery-view-column img{
    height: 100%;
}


.visiting-section{
    padding: 40px 0;
    background: #eeeeee;
}
.visiting-section .row h2{
    color: #24031e;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    font-family: "Raleway", Sans-serif;
}

.workshop-section{
    padding: 30px 0;
}


/*======================= Blog Page Style ====================*/
.blog-top-section{
    padding: 50px 0 30px 0;
}
.blog-top-section .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    padding-bottom: 35px;
    border-bottom: 2px solid #9a9a9a;
}
.blog-top-section .row .left-column{
    width: 48.5%;
    border-radius: 14px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
}
.blog-top-section .row .left-column .left-content{
    padding: 20px;
}
.blog-top-section .row .left-column .left-content h1{
    color: #090909;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: "Hind Siliguri", Sans-serif;
}
.blog-top-section .row .left-column .left-content p{
    color: #090909;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 8px;
    font-family: "Hind Siliguri", Sans-serif;
}
.blog-top-section .row .left-column .left-content img{
    margin-top: 15px;
    border-radius: 14px;
}
.blog-top-section .row .right-column{
    width: 48.5%;
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    padding: 12px 20px 8px 12px;
    border-radius: 14px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content:last-child{
    margin-bottom: none;
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content h2{
    color: #090909;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    font-family: "Hind Siliguri", Sans-serif; 
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content p{
    color: #090909;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 7px;
    font-family: "Hind Siliguri", Sans-serif; 
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content .image-column{
    width: 30%;
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content .image-column img{
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.blog-top-section .row .right-column .blog-vertical-column .blog-vertical-content .content-column{
    width: 67%;
}


.blog-section .blog-content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.blog-section .blog-content:last-child{
    border-bottom: none;
}
.blog-section .blog-content .content-column{
    width: 52%;
}
.blog-section .blog-content .content-column h2{
    color: #090909;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.blog-section .blog-content .content-column p{
    color: #090909;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 25px;
}
.blog-section .blog-content .image-column{
    width: 44%;
}
.blog-section .blog-content .image-column img{
    height: 250px;
    object-fit: cover;
    border: 1px solid #222;
    border-radius: 15px;
}


.blog-color-section{
    padding: 40px 0 35px 0;
    background: #00C1EC;
}
.blog-color-section .blog-content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
}
.blog-color-section .blog-content .image-column{
    width: 52.5%;
}
.blog-color-section .blog-content .content-column{
    width: 44.5%;
} 
.blog-color-section .blog-content .image-column img{
    border-radius: 15px;
}
.blog-color-section .blog-content .content-column h2{
    color: #fff;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;    
}
.blog-color-section .blog-content .content-column p{
    color: #fff;
    font-family: "Hind Siliguri", Sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 25px;
}


.blog-grid-section{
    padding: 40px 0;
}
.blog-grid-section .row{
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    column-gap: 2%;
    max-width: 940px;
    margin: 0 auto;
}
.blog-grid-section .grid-column{
    width: 23.5%;
    border-radius: 14px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.33);
}
.blog-grid-section .grid-column .grid-content{
    padding: 12px;
}
.blog-grid-section .grid-column .grid-content img{
    border-radius: 14px;
}
.blog-grid-section .grid-column .grid-content h2{
    color: #090909;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    font-family: "Hind Siliguri", Sans-serif;
}
.blog-grid-section .grid-column .grid-content p{
    color: #090909;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 7px;
    font-family: "Hind Siliguri", Sans-serif;
}

/*======================== Endorsement Page Style =====================*/
.endorsement-heading-section{
    padding: 100px 0 60px 0;
}

.endorsements-section {
    margin-bottom: 50px;
}
.endorsements-section .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 3%;
    padding: 50px 20px;
    background: #f9f9f9;
}
.endorsements-section .row .endorsements-column{
    width: 31.33%;
}
.endorsements-section .row .endorsements-column p{
    color: #797979;
    margin-top: 15px;
}
.endorsements-section .row .endorsements-column p:last-child{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}


.video-main-section{
    padding: 80px 0;
}
.video-main-section .row{
    max-width: 960px;
    margin: 0 auto;
    padding: 25px 25px;
    border-radius: 20px;    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
.video-grid-section{
    display: flex;
    row-gap: 20px;
    column-gap: 2%;
    flex-wrap: wrap;
    margin-top: 35px;
}
.video-grid-section:first-child{
    margin-top: 0;
}
.video-grid-section h1{
    width: 100%;
    color: #00ACF3;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    font-family: "Poppins", Sans-serif;
}
.video-grid-section .video-column{
    width: 49%;
    padding-bottom: 9px;
    background: #ECF6FBA1;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.41);
}
.video-grid-section .video-three-column{
    width: 32%;
}
.video-grid-section .video-column iframe{
    border-radius: 20px;    
}
.video-grid-section .video-column h3{
    color: #272727;
    font-size: 21px;
    line-height: 27px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Noto Sans KR", Sans-serif;
}


.management-section .management-column{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    column-gap: 2%;
    background: #f8d937;
}
.management-section .management-column .management-items{
    width: 32%;
    z-index: 999;
    position: relative;
}
.management-section .management-column .management-items img{
    width: 94%;
    margin-bottom: -50px;
    z-index: -1;
    position: relative;
}
.management-section .management-column h2{
    background: #fff;
    display: block;
}
.management-section .management-column .info-column{
    background: #fff;
    margin-top: 2px;
}